---
---
//
// BRAND & COLOURS
//

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

$headings-font-family: 'Audiowide','Verdana', sans-serif;
.heading {
	font-family: $headings-font-family;
}

$valentina-brand: (
	"red": #D04B43,
	"navy": #273032,
	"purple": #7469A0,
	"purple-shadow": #7A186C,
	"steel": #344145,
	"skyblue": #8497BE,
	"teal": #2E4F56,
	"green": #4B6F53,
	"beige": #EBE3B4,
	"grey": #D9D7CF,
	"white": #F8F4F4,
);

$primary: map-get($valentina-brand, "beige");

@each $name, $color in $valentina-brand {
  .text-val-#{$name} {
    color: $color; 
    // &:hover, &:focus, &:active {
    // 	color: lighten($color, 15%);
    // }
  }
  .bg-val-#{$name} {
    background-color: $color !important;
  }
  .border-val-#{$name} {
    border-color: $color !important;
  }
  .btn-val-#{$name} {
    border-color: $color !important;
    background-color: $color;
    &:hover {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
    }
  }
}
.gradient-background {
	background: map-get($valentina-brand, "purple");
	background: linear-gradient(45deg, map-get($valentina-brand, "purple") 0%, map-get($valentina-brand, "purple") 60%, map-get($valentina-brand, "skyblue") 100%);
	background-attachment: fixed;

	@extend .text-light;
}

.purple-shadow {
	box-shadow: -5px 7px map-get($valentina-brand, "purple-shadow");
}

a.no-col {
	color:inherit !important;
	text-decoration: none !important;
}

.site-title {
	transform: rotate(-5deg) !important;
	@extend .mb-5;
	&.display-2 {
		text-shadow: -5px 7px map-get($valentina-brand, "purple-shadow");
		img {
			width: 100px;
		}
	}
	&.navbar-brand {
		text-shadow: -3px 5px map-get($valentina-brand, "purple-shadow");
		@extend .w-100, .h-100, .d-block;
		img {
			width: 50px;
		}
	}
	@extend .text-val-white, .fw-bold, .text-uppercase;
}

.img-border {
	border: 3px solid map-get($valentina-brand, "purple");
	@extend .shadow-sm, .rounded, .p-1;
}

.content-block p:first-of-type{
	@extend .lead;
}

.footer a {
	@extend a.no-col; 
	font-weight: bold;
}

//
// LAYOUT & STRUCTURE
//

.valentina-navbar {
	@extend .navbar, .navbar-dark;
}
#valentinaNavbar .nav-border {
	border-bottom: 2px solid map-get($valentina-brand, "purple-shadow");
	padding-bottom: 0.5rem;
}
.nav-pills .nav-link.active {
	background-color: map-get($valentina-brand, "teal") !important;
	@extend .text-light;
}
.navbar-collapse {
	flex-basis: 60% !important;
	flex-grow: 0 !important;
}

// 
// CARDS
//
.home-card, .card.wait-what {
	@extend .purple-shadow, .rounded-3; 
}

.home-card, .card .card-link {
	transition: all;
	transition-duration: 0.2s;
}
.home-card {
	&:hover, &:focus, &:active {
		box-shadow: -5px 10px 3px rgba(map-get($valentina-brand, "purple-shadow"),0.6);
		transform: scale(1.02);
	}
}
.card .card-link {
	&:hover, &:focus, &:active {
		background-color: darken(map-get($valentina-brand, "purple"),7%);
	}
}

.card.wait-what {
	@extend .bg-val-navy, .mb-4, .ms-2;
}

// 
// IMAGES 
// 

.img-rocket {
	@media only screen and (max-width: 768px) {
		width: 100%;
	}
	@media only screen and (min-width: 768px) {
		height: 100px;
	}
}
.img-home-val, .img-ace {
	width: 75%;
	@media only screen and (max-width: 992px) {
		width: 50%;
	}
}

@import "timeline";

@import "bootstrap_variables";


/*!
 // Comment out the ones you're not using to save on render size and time 
 */

/*!
 * Bootstrap v5.0.0-beta1 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

// scss-docs-start import-stack
// Configuration
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// Layout & components
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/accordion";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";

// Helpers
@import "bootstrap/helpers";

// Utilities
@import "bootstrap/utilities/api";
// scss-docs-end import-stack