<div class="keyboard">
				
	<ul id="tTabCell">
		<li>
			<span onclick="addchar('А',event);" class="tC2">A</span>
			<br>
			<span onclick="addchar('а',event);">a</span><br>
			<input type="button" id="charbutton0" class="tB bcharset" onclick="addchar(this.value,event);" value="а">
		</li>
		<li>
			<span onclick="addchar('Б',event);" class="tC2">B</span>
			<br>
			<span onclick="addchar('б',event);">b</span><br>
			<input type="button" id="charbutton1" class="tB bcharset" onclick="addchar(this.value,event);" value="б">
		</li>
		<li>
			<span onclick="addchar('В',event);" class="tC2">V</span>
			<br>
			<span onclick="addchar('в',event);">v</span><br>
			<input type="button" id="charbutton2" class="tB bcharset" onclick="addchar(this.value,event);" value="в">
		</li>
		<li>
			<span onclick="addchar('Г',event);" class="tC2">G</span>
			<br>
			<span onclick="addchar('г',event);">g</span><br>
			<input type="button" id="charbutton3" class="tB bcharset" onclick="addchar(this.value,event);" value="г">
		</li>
		<li>
			<span onclick="addchar('Д',event);" class="tC2">D</span>
			<br>
			<span onclick="addchar('д',event);">d</span><br>
			<input type="button" id="charbutton4" class="tB bcharset" onclick="addchar(this.value,event);" value="д">
		</li>
		<li>
			<span onclick="addchar('Е',event);" class="tC2">E</span>
			<br>
			<span onclick="addchar('е',event);">e</span><br>
			<input type="button" id="charbutton5" class="tB bcharset" onclick="addchar(this.value,event);" value="е">
		</li>
		<li>
			<span onclick="addchar('Ё',event);" class="tC2">Jo</span>
			<br>
			<span onclick="addchar('ё',event);">jo,yo,ö</span>
			<br><input type="button" id="charbutton6" class="tB bcharset2" onclick="addchar(this.value,event);" value="ё">
		</li>
		<li>
			<span onclick="addchar('Ж',event);" class="tC2">Zh</span>
			<br>
			<span onclick="addchar('ж',event);">zh</span><br>
			<input type="button" id="charbutton7" class="tB bcharset2" onclick="addchar(this.value,event);" value="ж">
		</li>
		<li>
			<span onclick="addchar('З',event);" class="tC2">Z</span>
			<br>
			<span onclick="addchar('з',event);">z</span><br>
			<input type="button" id="charbutton8" class="tB bcharset" onclick="addchar(this.value,event);" value="з">
		</li>
		<li>
			<span onclick="addchar('И',event);" class="tC2">I</span>
			<br>
			<span onclick="addchar('и',event);">i</span><br>
			<input type="button" id="charbutton9" class="tB bcharset" onclick="addchar(this.value,event);" value="и">
		</li>
		<li>
			<span onclick="addchar('Й',event);" class="tC2">J</span>
			<br>
			<span onclick="addchar('й',event);">j</span><br>
			<input type="button" id="charbutton10" class="tB bcharset" onclick="addchar(this.value,event);" value="й">
		</li>
		<li>
			<span onclick="addchar('К',event);" class="tC2">K</span>
			<br>
			<span onclick="addchar('к',event);">k</span><br>
			<input type="button" id="charbutton11" class="tB bcharset" onclick="addchar(this.value,event);" value="к">
		</li>
		<li>
			<span onclick="addchar('Л',event);" class="tC2">L</span>
			<br>
			<span onclick="addchar('л',event);">l</span><br>
			<input type="button" id="charbutton12" class="tB bcharset" onclick="addchar(this.value,event);" value="л">
		</li>
		<li>
			<span onclick="addchar('М',event);" class="tC2">M</span>
			<br>
			<span onclick="addchar('м',event);">m</span><br>
			<input type="button" id="charbutton13" class="tB bcharset" onclick="addchar(this.value,event);" value="м">
		</li>
		<li>
			<span onclick="addchar('Н',event);" class="tC2">N</span>
			<br>
			<span onclick="addchar('н',event);">n</span><br>
			<input type="button" id="charbutton14" class="tB bcharset" onclick="addchar(this.value,event);" value="н">
		</li>
		<li>
			<span onclick="addchar('О',event);" class="tC2">O</span>
			<br>
			<span onclick="addchar('о',event);">o</span><br>
			<input type="button" id="charbutton15" class="tB bcharset" onclick="addchar(this.value,event);" value="о">
		</li>
		<li>
			<span onclick="addchar('П',event);" class="tC2">P</span>
			<br>
			<span onclick="addchar('п',event);">p</span><br>
			<input type="button" id="charbutton16" class="tB bcharset" onclick="addchar(this.value,event);" value="п">
		</li>
		<li>
			<span onclick="addchar('Р',event);" class="tC2">R</span>
			<br>
			<span onclick="addchar('р',event);">r</span><br>
			<input type="button" id="charbutton17" class="tB bcharset" onclick="addchar(this.value,event);" value="р">
		</li>
		<li>
			<span onclick="addchar('С',event);" class="tC2">S</span>
			<br>
			<span onclick="addchar('с',event);">s</span><br>
			<input type="button" id="charbutton18" class="tB bcharset" onclick="addchar(this.value,event);" value="с">
		</li>
		<li>
			<span onclick="addchar('Т',event);" class="tC2">T</span>
			<br>
			<span onclick="addchar('т',event);">t</span><br>
			<input type="button" id="charbutton19" class="tB bcharset" onclick="addchar(this.value,event);" value="т">
		</li>
		<li>
			<span onclick="addchar('У',event);" class="tC2">U</span>
			<br>
			<span onclick="addchar('у',event);">u</span><br>
			<input type="button" id="charbutton20" class="tB bcharset" onclick="addchar(this.value,event);" value="у">
		</li>
		<li>
			<span onclick="addchar('Ф',event);" class="tC2">F</span>
			<br>
			<span onclick="addchar('ф',event);">f</span><br>
			<input type="button" id="charbutton21" class="tB bcharset" onclick="addchar(this.value,event);" value="ф">
		</li>
		<li>
			<span onclick="addchar('Х',event);" class="tC2">H</span>
			<br>
			<span onclick="addchar('х',event);">h,x</span>
			<br>
			<input type="button" id="charbutton22" class="tB bcharset2" onclick="addchar(this.value,event);" value="х">
		</li>
		<li>
			<span onclick="addchar('Ц',event);" class="tC2">C</span>
			<br>
			<span onclick="addchar('ц',event);">c</span><br>
			<input type="button" id="charbutton23" class="tB bcharset" onclick="addchar(this.value,event);" value="ц">
		</li>
		<li>
			<span onclick="addchar('Ч',event);" class="tC2">Ch</span>
			<br>
			<span onclick="addchar('ч',event);">ch</span><br>
			<input type="button" id="charbutton24" class="tB bcharset2" onclick="addchar(this.value,event);" value="ч">
		</li>
		<li>
			<span onclick="addchar('Ш',event);" class="tC2">Sh</span>
			<br>
			<span onclick="addchar('ш',event);">sh</span><br>
			<input type="button" id="charbutton25" class="tB bcharset2" onclick="addchar(this.value,event);" value="ш">
		</li>
		<li>
			<span onclick="addchar('Щ',event);" class="tC2">Shh</span>
			<br>
			<span onclick="addchar('щ',event);">shh,w</span><br><input type="button" id="charbutton26" class="tB bcharset2" onclick="addchar(this.value,event);" value="щ">
		</li>
<!-- 		<li>
			<span onclick="addchar('Ъ',event);" class="tC2">##</span><
			br><
			span onclick="addchar('ъ',event);">#,/,tvz</span>
			<br><input type="button" id="charbutton27" class="tB bcharset2" onclick="addchar(this.value,event);" value="ъ">
		</li> -->
		<li>
			<span onclick="addchar('Ы',event);" class="tC2">Y</span>
			<br>
			<span onclick="addchar('ы',event);">y</span><br>
			<input type="button" id="charbutton28" class="tB bcharset" onclick="addchar(this.value,event);" value="ы">
		</li>
<!-- 		<li>
			<span onclick="addchar('Ь',event);" class="tC2">''</span>
			<br>
			<span onclick="addchar('ь',event);">',mjz</span>
			<br>
			<input type="button" id="charbutton29" class="tB bcharset2" onclick="addchar(this.value,event);" value="ь">
		</li>
		<li>
			<span onclick="addchar('Э',event);" class="tC2">Je</span>
			<br>
			<span onclick="addchar('э',event);">je,ä</span>
			<br>
			<input type="button" id="charbutton30" class="tB bcharset2" onclick="addchar(this.value,event);" value="э">
		</li>
		<li>
			<span onclick="addchar('Ю',event);" class="tC2">Ju</span>
			<br>
			<span onclick="addchar('ю',event);">ju,yu,ü</span>
			<br><input type="button" id="charbutton31" class="tB bcharset2" onclick="addchar(this.value,event);" value="ю">
		</li>-->
		<li>
			<span onclick="addchar('Я',event);" class="tC2">Ja</span>
			<br>
			<span onclick="addchar('я',event);">ja,ya,q</span>
			<br><input type="button" id="charbutton32" class="tB bcharset2" onclick="addchar(this.value,event);" value="я">
		</li>
	</ul>

	<script language="JavaScript" type="text/javascript">
	var shift = 0;
	var chartabledirection = 0;
	var chartable = new Array
		(new Array("а","б","в","г","д","е","ё","ж","з","и","й","к","л","м","н","о","п","р","с","т","у","ф","х","ц","ч","ш","щ","ъ","ы","ь","э","ю","я"),
			new Array("А","Б","В","Г","Д","Е","Ё","Ж","З","И","Й","К","Л","М","Н","О","П","Р","С","Т","У","Ф","Х","Ц","Ч","Ш","Щ","Ъ","Ы","Ь","Э","Ю","Я"),
			new Array("a","b","v","g","d","e","jo","zh","z","i","j","k","l","m","n","o","p","r","s","t","u","f","h","c","ch","sh","shh","#","y","\'","je","ju","ja"),
			new Array("A","B","V","G","D","E","Jo","Zh","Z","I","J","K","L","M","N","O","P","R","S","T","U","F","H","C","Ch","Sh","Shh","##","Y","\'\'","Je","Ju","Ja"));
	function showtable(shift,chartabledirection)
	{
		row = 2*(chartabledirection?1:0) + (shift?1:0);
		for (var i=0;i<chartable[row].length;i++)  
		{
			if ($("#charbutton"+i).length) {
				if (chartable[row][i].length>0) 
				{
					$("#charbutton"+i).val(chartable[row][i]);
				}
				else
				{
					$("#charbutton"+i).val(" ");
				}
			}
		}
		setfoc();
	}

	function clearresult() {
		document.getElementById('result').innerHTML = ''; 
	}
	function addchar(result, evnt)
	{
		$('#textentry').append(result);
		clearresult();
		return false;
	}
	function cleartext() {
		document.getElementById('textentry').innerHTML = '';
		clearresult();
		return;
	}
	function backspace() {
		newtext = document.getElementById('textentry').textContent.slice(0, -1);
		document.getElementById('textentry').textContent = newtext;
		clearresult();
		return 
	}
	</script>

</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>