<div class="row">
	<div class="col-12">
		<div class="card mb-4">
			<div class="card-header">
				<h3>Can you help Valentina's Russian spelling?</h3>
			</div>
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<p class="lead">What word is missing from the sentence?</p>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-12 col-lg-8 order-1 order-lg-2">
							<div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
							  <div class="carousel-inner mx-auto">
								<div class="carousel-item active">
									<div class="w-100 d-block">
										<p>Question 1</p>
										<div class="btn-group-vertical w-100" role="group" aria-label="Basic radio toggle button group">
										  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
										  <label class="btn btn-outline-secondary" for="btnradio1">Radio 1</label>

										  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
										  <label class="btn btn-outline-secondary" for="btnradio2">Radio 2</label>

										  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
										  <label class="btn btn-outline-secondary" for="btnradio3">Radio 3</label>

										  <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
										  <label class="btn btn-outline-secondary" for="btnradio3">Radio 4</label>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="w-100 d-block">
										<p>Question 2</p>
										<div class="btn-group-vertical w-100" role="group" aria-label="Basic radio toggle button group">
										  <input type="radio" class="btn-check" name="btnradio2_1" id="btnradio2_1" autocomplete="off">
										  <label class="btn btn-outline-secondary" for="btnradio2_1">Radio 1</label>

										  <input type="radio" class="btn-check" name="btnradio2_2" id="btnradio2_2" autocomplete="off">
										  <label class="btn btn-outline-secondary" for="btnradio2_2">Radio 2</label>

										  <input type="radio" class="btn-check" name="btnradio2_3" id="btnradio2_3" autocomplete="off">
										  <label class="btn btn-outline-secondary" for="btnradio2_3">Radio 3</label>

										  <input type="radio" class="btn-check" name="btnradio2_4" id="btnradio2_4" autocomplete="off">
										  <label class="btn btn-outline-secondary" for="btnradio2_4">Radio 4</label>
										</div>
									</div>
								</div>
							  </div>
							</div>
						</div>
						<div class="col-6 col-lg-2 px-4 mt-2 mt-lg-0 order-2 order-lg-1">
							<button class="btn btn-secondary w-100 h-100 rounded-0 mx-auto" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
								<i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
								<span>Previous</span>
							</button>
						</div>
						<div class="col-6 col-lg-2 px-4 mt-2 mt-lg-0 order-3 order-lg-3">
							<button class="btn btn-secondary w-100 h-100 rounded-0 mx-auto" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
								<span>Next</span>
								<i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
