    <div class="col order-2 order-lg-3 text-end">
      <img src="{{ site.baseurl }}/static/illustrations/rocket-right.png" height="100px" alt="Rocket graphic">
    </div>
    <div class="col-12 col-lg-6 order-3 order-lg-2 navbar-expand px-4 my-auto {% if include.hide_title %}offset-lg-3{% else %}offset-xl-1{% endif %}" id="valentinaNavbar">
      <ul class="navbar-nav text-center mb-2 mb-lg-0 nav-pills nav-border nav-fill">
        {% assign site_pages = site.content | where: "main-menu", "true" | sort: "order" %}
        {% for p in site_pages %}
          <li class="nav-item mx-lg-2">
            <a class="nav-link {% if p.permalink == page.url %}active{% endif %}" href="{{ p.permalink | prepend: site.baseurl }}">{{ p.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>