.timeline-wrapper {
	position: relative;
	.row {
		position: relative;
	}
}
.timeline {
	position: absolute;
	height: 100%;
	padding: 20px 0 20px 0;
	background-color: map-get($valentina-brand, "purple");
	width: 5px;
	top: 0;
	left: 33.5%;
}
.timeline-dot {
	position: absolute;
	left: 32%;
	top: 1.2rem;
	width: fit-content !important;
}
.timeline-date {
	padding-top: 0.6rem !important;
	h2 {
		@media only screen and (max-width:768px) {
			font-size: 1rem !important;
		}
	}
}
.timeline-item {
	.timeline-star {
		width: 40px;
		@media only screen and (max-width:768px) {
			width:30px;
		}
	}
	.lead {
		@media only screen and (max-width:768px){
			font-size:1rem !important;
		}
	}
}