<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" 
      type="image/png" 
      href="{{ site.baseurl }}/static/favicon.png">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?cachebust={{ site.time | date: "%Y%m%d%H%M"}}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    {% assign title = title | default: page.title | default: site.title %}
    {% assign lower_title = title | downcase %}
    {% if lower_title == 'index' %}{% assign title = site.title %}{% endif %}
    <title>{{ title }} {% unless title == site.title %}| Valentina Star Dreamer{% endunless %}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R947YP3K20"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R947YP3K20');
    </script>
    
  </head>
  <body class="h-100 d-flex flex-column">
    {{ content }} 
    <div class="container-fluid mt-auto footer bg-val-navy pb-2">
      <div class="row py-2">
        <div class="col-12 col-lg-3 text-center text-lg-start my-auto">
          <img src="{{ site.baseurl }}/static/img/logos/ace-white.png" alt="Arts Council England Logo" class="img-ace">
        </div>
        <div class="col-12 col-lg-6 text-center fw-light text-val-white my-auto">
          <p class="mb-0">Valentina Star Dreamer has been made possible thanks to:<br> <a href="https://hastetheatre.com/">Haste Theatre</a>, <a href="https://www.mouthsoflions.co.uk/">Mouths of Lions Theatre</a>, <a href="https://www.theplacebedford.org.uk/">The Place Bedford</a>, and Arts Council England.</p>
        </div>
        <div class="col-12 col-lg-3 text-center text-lg-end mt-2">
          {% assign haste_socials = site.data.socials[0].haste %}
          {% assign mol_socials = site.data.socials[1].mol %}
          <p class="text-muted fw-bold mb-2">Haste Theatre {% for social in haste_socials %}<a href="{{ social.href }}" title="{{ social.title }}" class="link-light"><i class="fab fa-lg fa-{{ social.title | downcase }}"></i></a>&nbsp;{% endfor %}</p>
          <p class="text-muted fw-bold mb-2">Mouths of Lions Theatre {% for social in mol_socials %}<a href="{{ social.href }}" title="{{ social.title }}" class="link-light"><i class="fab fa-lg fa-{{ social.title | downcase }}"></i></a>&nbsp;{% endfor %}</p>
          <p class="small mb-0 text-muted"><a href="https://web.samosborne.me/" class="no-col">Web Development by Sam Osborne</a></p>
        </div>
      </div>
  	</div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>

