---
layout: default 
---
    <div class="container-fluid gradient-background pb-4">
      <div class="row px-0">
        <nav class="valentina-navbar mx-auto pt-3 px-0">
          {% include nav.html hide_title=1 %}
        </nav>
      </div>
  		<div class="row pt-4 pt-sm-0"><!-- Title --> 
        <div class="col-12 pt-0 pt-md-4"><!-- Title -->
          <h1 class="display-2 site-title d-flex justify-content-center">
            {% include site-title.html star=2 %}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
   				<p class="lead fs-3 text-center">{{ site.description }}</p>
          {% if site.data.shows and site.data.shows != empty %}
            <div class="card my-4 purple-shadow now-booking">
              <div class="card-body">
                <h3 class="text-uppercase text-center">Now booking:</strong></h3>
                {% for show in site.data.shows %}
                  <p class="text-center mb-0">{{ show.venue }} &mdash; {{ show.start_date | date: "%A %e %B" }}{% if show.end_date and show.end_date != show.start_date %} to {{ show.end_date | date: "%A %e %B" }}{% endif %} {{ show.show_times | prepend: "@ " }} {% if show.ticket_link %}| <a href="{{ show.ticket_link }}" target="_blank">Get Tickets <i class="fa fa-external-link-alt" aria-hidden="true"></i></a>{% endif %}</p>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <p class="small text-center pt-3 mb-2">Email us to bring Valentina to your venue or school <br>
            <a href="mailto:bookings@valentinastardreamer.co.uk" class="text-decoration-none fw-bold">bookings@valentinastardreamer.co.uk</a>
          </p>
        </div><!-- /Copy and book -->
        <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-3 offset-lg-0"><!-- Val -->
          <img src="{{ site.baseurl }}/static/illustrations/valentina/floating_alpha.gif" class="img-fluid" alt="Animation of Valentina floating in space">
        </div><!-- /Val -->
      </div><!-- /Title section -->
      <div class="row">
        <div class="w-100">
          <hr class="w-50 mx-auto mb-4">
        </div>
        <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-3 offset-lg-0 my-lg-auto">
          {% include wait-what.html fact="diamonds" wrap="true" %}
        </div>
        <div class="col-12 col-md-8 offset-md-2 offset-lg-0">
          <div class="content-block px-4">
            {{ content | markdownify }}
          </div>
        </div>
      </div>
    </div>
    {% if site.about %}
      <div class="container-fluid bg-val-skyblue py-4 shadow-lg">
        {% for item in site.about %}
        <div class="row mb-md-4">
          <div class="col-12 col-md-7 col-lg-6 offset-lg-2 text-decoration-none content-block">
            <h2 class="text-center">{{ item.title }}</h2>
            {{ item.content | markdownify }}
          </div>
          {% if item.download_link %}
          <div class="col-8 offset-2 col-md-5 offset-md-0 col-lg-3 pt-md-5 mb-4 mb-md-0">
            <p class="text-center">
              <a class="btn btn-primary w-75 btn-lg shadow-lg" href="{{ item.download_link }}">
                {% if item.file_format %}<i class="fa fa-file-{{ item.file_format }}" aria-hidden="true"></i>&nbsp;{% endif %}{{ item.download_title | default: "Download" }} {{ item.file_format | prepend: "(" | append: ")"}}
              </a>
            </p>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="container py-4">
      <div class="row">
  			<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3 text-center">
          <h2>Find out more...</h2>
  			</div>
      </div>
      {% assign site_pages = site.content | where: "featured", "true" | sort: "order" %}
      <div class="row row-cols-1 row-cols-md-2">
        {% for p in site_pages %}
          <div class="col my-3 mx-auto">
            <div class="card home-card bg-val-purple mx-2 h-100">
              <a href="{{ p.permalink | prepend: site.baseurl }}" class="text-decoration-none card-link w-100 h-100">
                <div class="card-body">
                  <h3 class="text-center text-val-white">{{ p.title }}</h3>
                  <div class="d-block text-center">
                    <img class="mx-auto" width="50%" src="{{ p.image | default: "/static/illustrations/star.png" | prepend: site.baseurl }}" alt="Star graphic">
                  </div>
                </div>
              </a> 
            </div>
          </div>
        {% endfor %}
        <div class="wait-what my-auto mx-auto">
          {% include wait-what.html fact="sky-hat" %}
        </div>
  		</div>
      <div class="row g-0">
      </div>
    </div>